[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
asgiref = "*"
black = "*"
click = "*"
fastapi = "*"
h11 = "*"
httptools = "*"
idna = "*"
mypy = "*"
mypy-extensions = "*"
pathspec = "*"
platformdirs = "*"
pydantic = "*"
python-dotenv = "*"
pyyaml = "*"
sniffio = "*"
starlette = "*"
tomli = "*"
types-pyyaml = "*"
types-ujson = "*"
typing-extensions = "*"
uvicorn = "*"
uvloop = "*"
watchgod = "*"
websocket = "*"
websockets = "*"
"zope.event" = "*"
"zope.interface" = "*"

[dev-packages]

[requires]
python_version = "3.13"
