[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.116.1"
mypy = "==1.17.1"
mypy-extensions = "==1.1.0"
websockets = "==15.0.1"
uvicorn = "==0.35.0"

[dev-packages]
black = "==25.1.0"
isort = "==6.0.1"

[requires]
python_version = "3.13"
